@use "@global" as *;

.inner {
  @include content-inner(lg);
  padding-top: 80px;
  padding-bottom: 80px;
}

.pageTitle {
  padding: 40px 0;
  background-color: #ccc;
}

.recipeTitle {
  font-size: to-rem(24);
  font-weight: 700;
  text-align: center;
}
