@use "@global" as *;

.buttonBox {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #000;
}

.button {
  padding: 8px;
  border: 1px solid #000;
  color: #fff;
  background-color: #000;
  @include hover {
    color: #000;
    background-color: #fff;
  }
}
