@use "@global" as *;

.form {
  padding: 4px;
  border: 1px solid red;
}

.inputContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 24px 16px;
  align-items: center;
}

.label {
}
.inputBox {
}

.button {
  margin-top: 24px;
  padding: 4px;
  border: 1px solid green;
}
