@use "sass:map";
@use "sass:math";
@use "../variables/" as *;

//* -------------------------------------------------------
//* 'c-inner'で使用するレイアウト調整
//* -------------------------------------------------------
@mixin content-inner($size: null) {
  $max_width: (
    sm: var(--contents-width-sm),
    md: var(--contents-width-md),
    lg: var(--contents-width-lg),
  ) !default;

  width: calc(100% - var(--body-paddingSide) * 2);
  @if $size {
    max-width: #{map.get($max_width, $size)};
  }
  margin-inline: auto;
}
