@use "@global" as *;

.filterName {
  font-size: to-rem(18);
  font-family: 700;
}
.form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.label {
  cursor: pointer;
}
.input {
  cursor: pointer;
}
.recipesCount {
  font-size: to-rem(18);
  text-align: center;
  margin-top: 24px;
  margin-bottom: 64px;
}
